Intellectual Requirements of Mormonism
By Thomas L. Martin?Professor of Agronomy, Brigham Young University
Of all people, the hardest workers intellectually, should be the Latter-day Saints. No matter what one's life's work may be, he should determine to study and to master it completely. The laws of the universe; physical, chemical, geological, biological, and human stand out as challenges to everyone who espouses the faith and accepts the "Mormon" philosophy of life.
The following extracts from the Doctrine and Covenants are of interest in this regard:
Section 93:11-18:
11. "And I, John, bear record that I beheld his glory, as the glory of the Only Begotten of the Father, full of grace and truth, even the Spirit of truth, which came and dwelt in the flesh, and among us.
12. "And I, John, saw that he received not of the fulness at the first, but received grace for grace:
13. "And he received not of the fulness at first, but continued from grace to grace, until he received a fulness."

16. "And I, John, bear record that he received a fulness of the glory of the Father;
17. "And he received all power, both in heaven and on earth, and the glory of the Father was with him, for he dwelt in him."
18. "And it shall come to pass, that if you are faithful you shall receive the fulness of the record of John."

Section 88:42-47:
42. "And again, verily I say unto you, he hath given a law unto all things by which they move in their times and their seasons;
43. "And their courses are fixed, even the courses of the heavens and the earth, which comprehend the earth and all the planets;
44. "And they give light to each other in their times and in their seasons, in their minutes, in their hours, in their days, in their weeks, in their months, in their years?all these are one year with God, but not with man.
45. "The earth rolls upon her wings, and the sun giveth his light by day, and the moon giveth her light by night, and the stars also give their light, as they roll upon their wings in their glory, in the midst of the power of God.
46. "Unto what shall I liken these kingdoms that ye may understand?
REQUIREMENTS OF MORMONISM 259
47. "Behold, all these are kingdoms, and any man who hath seen any or the least of these, hath seen God moving in his majesty and power."
Section 88:78-79:
78. "Teach ye diligently, and my grace shall attend you, that you may be instructed more perfectly in theory, in principle, in doctrine, in the law of the gospel, in all things that pertain unto the kingdom of God, that are expedient for you to understand;
79. "Of things both in heaven and in the earth, and under the earth; things which have been, things which are, things which must shortly come to pass; things which are at home, things which are abroad; the wars and the perplexities of nations, and the judgments which are on the land and a knowledge also of countries and kingdoms."

Section 88:117-122:
117. "Therefore, verily I say unto you, my friends, call your solemn assembly, as I have commanded you;
118. "And as all have not faith, seek ye diligently and teach one another words of wisdom; yea, seek ye out of the best books words of wisdom; seek learning, even by study, and also by faith.
119. "Organize yourselves; prepare every needful thing; and establish a house, even a house of prayer, a house of fasting, a house of faith, a house of learning, a house of glory, a house of order, a house of God."

122. "Appoint among yourselves a teacher, and let not all be spokesman at once; but let one speak at a time, and let all listen unto his sayings, that when all have spoken that all may be edified of all, and that every man may have an equal privilege."
We believe that: The earth and the fulness thereof belongs to man, under the supremacy of God, and that he, in his great strivings to understand the earth, will redeem himself and become a perfect creature with the Lord.
Brigham Young said, "Every time we master nature, we master a knowledge of the laws of God;" also, "that man progresses as he makes the earth subservient to his need."
What is to be gathered from such statements? Simply this: At no time should one be intellectually lazy, but should learn to understand the world about him. The farmer should leave no stone unturned that would help him in his subjection of the earth. He should be a constant reader of farm periodicals, an ardent advocate of farmers' roundups, of high school agricultural meetings; a close associate of the county agent, university agricultural instructors, and high school teachers of agriculture. He must understand the science of farming as well as the art, if he would subdue the earth.


The business man should study his vocation scientifically, and eliminate the "hit and miss" process. The psychology of salesmanship should be his concern. Periodicals that pertain to his line of thought should adorn his library table and be used by him.
The school teacher should be one who never drifts along the line of least resistance. The understanding of his daily charges must be his constant concern. How best to bring about the normal development of the boys and girls under his care must be his uppermost thought, and this should find him improving his mind through a constant attendance at institutions and conventions whose sole purpose is that of improving the teacher for his all-important work.
The housewife should look on her work as a profession. Any opportunity that is hers to improve the home, should be grasped. The physiology of eating, dietetics, better methods of rearing children, home beautification, decoration, cooking, anything that will raise the standard of living in that home, should be her pride.
All people, no matter what their life's work, should concern themselves with general problems. They should understand, or at least study, the wonderful beauties of nature. The rocks, the minerals, the agencies of decomposition, the soil formed from them, the nature of the soil, the relationship between the soil and plant, how plants grow, the trees, kind and function of each, even the birds, the insects and the flowers, should all and severally be given their share of attention. As far as possible one should be a student of men and the laws that govern their associations. The laws of the group-mind, understood and applied, will do much to make one a leader of men. Affairs in our nation and in other nations should receive a share of one's time. The advice given by the prophet Joseph Smith is that all Latter-day Saints should study the wars and perplexities of nations.
True, one wonders how he shall find time to do all this; but if one budgets his time, it is surprising how much can be accomplished. The men who are doing things in this world are the ones who budget their time. There is a time for everything, and if a person will attempt to systematize his daily and weekly hours and minutes he will be surprised with the results.
Every "Mormon" household should think seriously of the questions above presented. If we attain the ideal hoped for by every Latter-day Saint, we must study. We must learn to understand the earth and all of its complexities. How can we govern worlds unless we understand them? God will not tell us everything that we can find out for ourselves. If we do not learn it in this life, we must in the next, if we hope to progress.
REQUIREMENTS OF MORMONISM 261
Let us seek knowledge wherever it is to be found. Let us bring into our homes magazines of our Church, and in addition, the periodicals of our profession, together with those pieces of literature which have to do with the world at large. Let us become the most intellectually active people on earth.
If we do this, and also live in accordance with the religious requirements of our Church, we shall be happy, comforted, possessed with vision to see the transcendant beauties of life of which we have never before dreamed.